section {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	flex-direction: column;
	padding: 10px;
	width: 80%;
}

section > div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.sec-title {
	font-weight: bold;
	font-size: 25px;
}

.horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.horizontal > div {
	margin: 0px 5px;
	align-items: center;
}

.vertical {
	flex-direction: column;
	justify-content: center;
	padding: 10px;
}

.vertical > div {
	margin: 10px  0px;
}

.bordered {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 10px;
}

table {
	border-collapse: collapse;
	min-width: 400px;
}

th, td {
    border-bottom: 1px solid black;
}

#table-history td {
    height: 25px;
}

.table-wrapper {
	max-height: 500px;
	overflow: auto;
}

select {
	height: 20px;
}

#rec-sidebar, #places-sidebar {
	min-width:280px;
}
textarea {
	height: 80px;
	width: 100%;
}

#table-records {
	width: 550px;
}

#table-history {
	width: 90%;
}

.checked-table-row {
	background-color: Lavender;
}
