<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Ledger</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='ledger.js') }}"></script>
	</head>
	<body>
		<center><h1>Ledger</h1></center>	

		<section id="history">
			<div class="sec-title">History</div>
			<div class="horizontal">
				<div>Year:</div>
				<div><input type="number" id="selected-year"/></div>
				<div><button id="history-ok" type="button">Ok</button></div>
			</div>
			<div>
				<table id="table-history" class="bordered">
					<thead>
						<th>Category</th>
						<th>Jan</th>
						<th>Feb</th>
						<th>Mar</th>
						<th>Apr</th>
						<th>May</th>
						<th>Jun</th>
						<th>Jul</th>
						<th>Ago</th>
						<th>Sep</th>
						<th>Oct</th>
						<th>Nov</th>
						<th>Dec</th>
						<th>Average</th>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</section>
		<section id="categories">
			<div class="sec-title">Categories</div>
			<div class="horizontal">
				<div><select id="sel-cat"></select></div>
				<div><button id="cat-del" type="button">Delete</button></div>
				<div><input type="text" id="cat-new-name" value="Name"/></div>
				<div><button id="cat-create" type="button">Create</button></div>
				<div><button id="cat-rename" type="button">Rename</button></div>
			</div>
		</section>
		<section id="places">
			<div class="sec-title">Places</div>
			<div class="horizontal">
				<div class="vertical">
					<div class="table-wrapper">
						<table id="table-places" class="bordered">
							<thead>
								<th>Name</th>
								<th>Category</th>
								<th>Pattern</th>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div>	
						<button id="places-del" type="button" disabled>Delete</button>
						<button id="places-clear" type="button" disabled>Deselect</button>
					</div>	
				</div>	
				<div id="places-sidebar" class="vertical bordered">
					<div>
						<b><label for="new-place-name">Name:</label></b>
						<input type="text" id="new-place-name"/>
					</div>
					<div>
						<b><label for="set-place-cat">Category:</label></b>
						<select id="set-place-cat"></select>
					</div>
					<div>
						<b><label for="new-place-pattern">Pattern:</label></b>
						<input type="text" id="new-place-pattern"/>
					</div>
					<div><button id="new-place" type="button">Create</button></div>			
				</div>
			</div>
		</section>
		<section id="records">
			<div class="sec-title">Records</div>
			<div class="horizontal">
				<div class="vertical">
					<div class="horizontal">
						<div>Month:</div>
						<div><input id="rec-period" type="month"/></div>
						<div><button id="rec-period-ok" type="button">Ok</button></div>
					</div>
					<div class="table-wrapper">
						<table id="table-records" class="bordered">
							<thead>
								<tr>
									<th>Date</th>
									<th>Type</th>
									<th>Place</th>
									<th>Category</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div>
						<button id="rec-del" type="button" disabled>Delete</button>
						<button id="rec-clear" type="button" disabled>Deselect</button>
					</div>				
				</div>
				<div id="rec-sidebar" class="vertical">
					<div class="vertical bordered">
						<div>
							<b><label for="rec-date">Date:</label></b>
							<input id="rec-date" type="date"/>
						</div>
						<div><b>Description</b></div>
						<div><textarea id="rec-description"></textarea></div>
						<div><b>Notes</b></div>
						<div><textarea id="rec-notes"></textarea></div>
						<div>
							<b><label for="rec-cats">Category:</label></b>
							<select id="rec-cats"></select>
						</div>
						<div>
							<b><label for="rec-places">Place:</label></b>
							<select id="rec-places"></select>
						</div>
						<div>
							<b><label for="rec-date">Amount:</label></b>
							<input id="rec-amount" type="number"/>
						</div>
						<div><button id="rec-save-create" type="button">Create</button></div>
					</div>
					<div class="vertical bordered">
						<div><b>Add</b></div>
						<form id="rec-upload">
							<div><input type="file" name="file" accept=".xls" /></div>
							<div><button id="rec-upload-ok" type="submit">Ok</button></div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>

</html>

